:root {
    --bg-color: rgb(20, 20, 20);
    --card-bg-color: rgb(31, 31, 31);
    --social-link-bg: rgb(51, 51, 51);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(196, 248, 42);
    --color-blue: rgb(62, 82, 163);
    --main-font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    
}

body {
    font-family: var(--main-font);
}

.container {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.card {
    background-color: var(--card-bg-color);
    min-width: 20.43rem;
    padding: 1.5rem;
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.name {
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: .03rem;
    margin-bottom: .25rem;
}

.location {
    color: var(--color-green);
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.bio {
    color: var(--color-white);
    font-size: .85rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    letter-spacing: .03rem;
    font-weight: 400;
   
}

.social-links {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links li {
    text-align: center;
}

.social-link{
    color: var(--color-white);
    background-color: var(--social-link-bg);
    display: block;
    padding: .75rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: .875rem;
    letter-spacing: .01rem;
    line-height: 1.5;
    transition: background-color 0.5s ease-in-out,
                color 0.5s ease-in-out;
}

.social-link:hover {
    color: black;
    background-color: var(--color-green);
}

.social-link:focus-visible {
    outline: 2px solid var(--color-green);
    outline-offset: 2px;
}


.attribution { 
    color: var(--color-white);
    font-size: 0.6875rem; 
    text-align: center;
    background-color: var(--bg-color);
}
    
.attribution a { 
    color: var(--color-green); 
    font-weight: bold;
}

@media (min-width: 750px) {
    .card {
        min-width: 24rem;
        padding: 2.5rem;

    }
}