:root {
    --bg-color: rgb(20, 20, 20);
    --card-bg-color: rgb(31, 31, 31);
    --bg-links: rgb(51, 51, 51);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(196, 248, 42);
    --main-font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: var(--main-font)
}

.container {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.card {
    background-color: var(--card-bg-color);
    min-width: 20.43rem;
    padding: 1.5rem;
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-icon {
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.name {
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: .25rem;
}

.location {
    color: var(--color-green);
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.title {
    color: var(--color-white);
    font-size: .85rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.links{
    width: 100%;
    text-align: center;
    background-color: var(--bg-links);
    border-radius: .5rem;
    padding: .75rem;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.5;
}

.links:hover {
    color: black;
    background-color: var(--color-green);
}



.attribution { 
    font-size: 0.6875rem; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 750px) {
    .card {
        min-width: 24rem;
        padding: 2.5rem;

    }
}